@charset "uft-8";
/*全体画像の設定*/
html{
  background-image: url(../image/back1.jpg);
}
body div{
  margin-right: auto;
  text-align: center;
}

form{
  margin-right: auto;
  text-align: center;
  list-style: none;
}
/*上位タブ設定*/
#global{
  width: 980px;
  clear: both;
  overflow: hidden;
  margin: 16px auto;
}

#global ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#global ul li {
  width: 195px;
  float: left;
  margin-right: 1px;
  text-align: center;
}

#global ul li img{
  width: 16px;
}

#global ul li a {
  display:  block;
  padding: 16px;
  background-color:lightskyblue;
  color: black;
  text-decoration: none;
}

#global ul li a:hover{
  background-color: rgb(17, 230, 212);
}


h1,h2,h3,h4,h5,h6{
  margin-top:0;
  text-align: center;
  background-color: bisque;
}
body p{
  margin-top: 0;
  line-height: 1.6;
  text-align: center;
}
article{
  text-align: center;
  width: auto;
}